.container {
	max-width: 900px;
	height: 800px;
	margin: 0 auto;
	border-radius: 20px;
}

.chat {
	display: flex;
	flex-direction: column;
}

.features {
	background: #3a7aa9d9;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.main {
	display: flex;
	height: 650px;
}

.rooms {
	background: #9cc6ff;
	width: 30%;
	padding: 10px;
	box-sizing: border-box;
	overflow: auto;
}

.messages {
	width: 70%;
	background: #d2d2d2;
	padding: 10px;
	overflow: auto;
}

.messages::-webkit-scrollbar {
	width: 0.9em;
}

.rooms::-webkit-scrollbar {
	width: 0.5em;
}

.messages::-webkit-scrollbar-button,
.rooms::-webkit-scrollbar-button {
	background: #6295cb;
}

.messages::-webkit-scrollbar-track,
.rooms::-webkit-scrollbar-track {
	background: #acf;
}

.messages::-webkit-scrollbar-thumb,
.rooms::-webkit-scrollbar-thumb {
	background: #7bf;
}

.footer {
	display: flex;
}

.new_room {
	background: #bddcff;
	width: 30%;
	border-bottom-left-radius: 20px;
}

.new_message {
	width: 70%;
	border-bottom-right-radius: 20px;
	background: #407ba8;
}
